<p id="notice"><%= notice %></p>

<p>
  <strong>Work position:</strong>
  <%= @positon.work_position %>
</p>

<%= link_to 'Edit', edit_positon_path(@positon) %> |
<%= link_to 'Back', positons_path %>
